/* 
    Created on : 2014.14.10, 22:06:23
    Author     : Lauris Ulpe
*/
.offer-container {
    height: 300px;
    background-color: red;
}
.offer-preview-button {
    position: absolute;
    right: 50px;
    bottom: 50px;
}
.offer-preview {
    position: absolute;
    color: white;
    background-color: blue;
    width: 600px;
    right: -500px;
}