/* 
    Created on : 2014.14.10, 22:06:23
    Author     : Lauris Ulpe
*/

/* Sticky footer and Fixed to top navbar styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /* Padding top by navbar-fixed-top height + intended gap */
    padding-top: 60px;
}
.navbar-fixed-top {
    /*default height: 50px;*/ 
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Default template styles
-------------------------------------------------- */
.my-main-container {
    background-color: #d6e9c6;
}
