/* 
    Created on : 2014.15.11, 15:06:34
    Author     : Lauris Ulpe
*/

/* Sticky footer, Fixed to top navbar and Background styles
------------------------------------------------------------ */
html {
    position: relative;
    min-height: 100%;
    
    /* Background image displayed fullscreen */
        background: url('../img/handshake.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: @my-navbar-height + @my-navbar-margin-bottom;
    /* Padding top by navbar-fixed-top height + intended gap */
    padding-top: @my-navbar-height + @my-navbar-margin-bottom;

    background-color: transparent;
    min-height:100%;
}
.navbar-fixed-top {
    /*default height: 50px;*/
    height: @my-navbar-height;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: @my-content-bg-color;
    
    margin: auto;

}

/* Default template styles
-------------------------------------------------- */
.my-main-container {
    background-color: @my-content-bg-color;
}

/* Login / Forgot password
-------------------------------------------------- */

.my-pass-form {
    color: @my-light-font-color;
    a {
      color: @my-light-font-color;  
    }
    a:hover {
        color: @my-hover-color;
    }
    .my-form-signin,
    .my-pass-recover {
        padding: 15px;
        background-color: @my-dark-bg-color;
        border: 1px solid @my-light-font-color;
    }
    .container {
        max-width: @my-form-max-width;
    }
    .my-form-group {
        padding-bottom: 10px;
    }
    .my-login-helpers-container {
        min-height: 40px;

    }
    .remeber-me {
        .checkbox {
            font-weight: normal;
            padding-left: 10px;
            min-height: 100%;
        }
    }
    .forgot-password {
        text-align: right;
        padding-right: 0; 
        a {
            border: none;
            padding: 10px 5px;
        }
    }
}

.my-navbar-styles {
    background: @my-dark-bg-color;
    a {
      color: @my-light-font-color;  
    }
    a:hover {
        color: @my-hover-color;
    }
}

.my-welocome-page {
    max-width: 300px;
    text-align: center;
}
