/* 
    Created on : 2014.15.11, 15:06:59
    Author     : Lauris Ulpe
*/

@icon-font-path: "../assets/bootstrap/fonts/";
@fa-font-path: "../assets/font-awesome/fonts/";

@font-family-sans-serif: 'Open Sans', sans-serif;
@headings-font-weight:    400;

/* COLORS */
@my-white: rgba(255, 255, 255, 1);
@my-black: rgba(34, 34, 34, 1); /*HEX #222222 */
@my-orange: rgba(244, 179, 80, 1); /*HEX #f4b350 */
@my-green: rgba(47, 159, 158, 1); /*HEX #2f9f9e */
@my-blue: rgba(72, 151, 204, 1); /*HEX #4897cc */
@my-red: rgba(251, 148, 139, 1); /*HEX #fb948b */
@my-grey: rgba(221, 221, 221, 1); /*HEX #ddd */
@my-light-grey: rgba(241, 241, 241, 1); /*HEX #f1f1f1 */


/* Background colors */
@my-bg-color: @my-light-grey;
@my-dark-bg-color: @my-black;
@my-content-bg-color: @my-white;

/* Table colors */
@my-thead-bg-color: @my-orange;
@my-tr-border-color: @my-grey;

@my-dark-font-color: @my-black;
@my-light-font-color: @my-orange;
@my-hover-color: #f0d8a8;            /* ???*/

/* NAVBAR */
@my-navbar-height: 51px; 
@my-navbar-margin-bottom: 20px;
@navbar-default-color: @my-light-font-color;
@navbar-default-bg: #f8f8f8;
@navbar-default-link-color:             darken(@my-light-font-color, 20%);
@navbar-default-link-hover-color:       @my-white;
@navbar-default-link-hover-bg:          @my-orange;
@navbar-default-toggle-hover-bg:        lighten(@my-light-font-color, 10%);
@navbar-default-toggle-icon-bar-bg:     @my-light-font-color;
@navbar-default-toggle-border-color:    @my-light-font-color;

/* Footer */
@my-footer-height: 50px;

/* Sign in / Porgot password / change password */ 
@my-form-max-width: 400px;



/* OVERWRITTEN TWITTER BOOTSTRAP VARIABLES */

@my-half-gutter:                       floor((@grid-gutter-width / 2));

@pagination-color:                     @my-dark-font-color; /* overwriten */
@pagination-bg:                        #fff;
@pagination-border:                    #ddd;

@pagination-hover-color:               @link-hover-color;
@pagination-hover-bg:                  @gray-lighter;
@pagination-hover-border:              #ddd;

@pagination-active-color:              @my-light-font-color; /* overwriten */
@pagination-active-bg:                 @my-dark-bg-color; /* overwriten */
@pagination-active-border:             @brand-primary; 

@pagination-disabled-color:            @gray-light;
@pagination-disabled-bg:               #fff;
@pagination-disabled-border:           #ddd;


/* Breakpoints */
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";