/* 
    Created on : 2014.15.11, 15:06:59
    Author     : Lauris Ulpe
*/

@icon-font-path: "../assets/bootstrap/fonts/";
@fa-font-path: "../assets/font-awesome/fonts/";

@font-family-sans-serif: 'Open Sans', sans-serif;
@headings-font-weight:    400;

@my-dark-font-color: #232323;
@my-light-font-color: #a48668;
@my-hover-color: #f0d8a8;

/* Navbar */
@my-navbar-height: 50px; 
@my-navbar-margin-bottom: 20px;

/* Footer */
@my-footer-height: 50px;

/* Sign in / Porgot password / change password */ 
@my-form-max-width: 400px;

/* Background colors */
@my-bg-color: #fafafa;
@my-dark-bg-color: #232323;
@my-content-bg-color: rgba(255, 255, 255, 1);


/* OVERWRITTEN TWITTER BOOTSTRAP VARIABLES */

@pagination-color:                     @my-dark-font-color; /* overwriten */
@pagination-bg:                        #fff;
@pagination-border:                    #ddd;

@pagination-hover-color:               @link-hover-color;
@pagination-hover-bg:                  @gray-lighter;
@pagination-hover-border:              #ddd;

@pagination-active-color:              @my-light-font-color; /* overwriten */
@pagination-active-bg:                 @my-dark-bg-color; /* overwriten */
@pagination-active-border:             @brand-primary; 

@pagination-disabled-color:            @gray-light;
@pagination-disabled-bg:               #fff;
@pagination-disabled-border:           #ddd;